body {
  background: #5dacbd;
  padding: 1px 0px 1px 0px;
}
button {
  background-color: aliceblue;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  color: #222323;
  text-align: right;
}
form {
  text-align: right;
  padding: -1px;
  margin: 0 auto;
  width: 200px;
  margin: 60px auto 0 auto;
}
h1 {
  text-align: center;
  color: #222323;
}
h2 {
  text-align: center;
  color: #222323;
}
h5 {
  padding: 2px;
  margin-bottom: 0.5rem;
  color: #222424;
}
p {
  text-align: center;
  font-weight: thin;
  color: #222323;
  line-height: -100px;
}
.row {
  font-weight: bold;
  border-radius: 5px;
}
.card {
  padding: -1px;
  background-color: #bae8e8;
  max-width: 150px;
  margin: 0 auto;
}
