body {
  background-color: #6bcdeb;
  padding: 5px 5px 5px 5px;
}
button {
  background-color: aliceblue;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  color: rgb(116, 149, 153);
  text-align: right;
}
form {
  text-align: right;
  padding: -1px;
  margin: 0 auto;
  width: 200px;
  margin: 60px auto 0 auto;
}
h1 {
  text-align: center;
  color: #1445b9;
}
h2 {
  text-align: center;
  color: #1445b9;
}
h5 {
  padding: 2px;
  margin-bottom: 0.5rem;
}
p {
  text-align: center;
  font-weight: thin;
  color: hsl(193, 43%, 41%);
}
.row {
  font-weight: bold;
  border-radius: 5px;
}
.card {
  padding: -1px;
  background-color: #bae8e8;
  max-width: 150px;
  margin: 0 auto;
}
